@import url('https://fonts.googleapis.com/css?family=Ubuntu');

html
{
	font-family: 'Ubuntu', sans-serif;
}

h1
{
	text-align: center;
	color:#ff0066;
}

.boutton
{
	border: 1px solid white;
    color: white;
    white-space: nowrap;
    text-decoration: none;
    background-color: #ff0066;
}

#width-input{
	width: 170px;

}

select 
{
	font-size: 15px;
}

.box
{
	justify-content: center;
    width: 410px;
    background-color: white;
	margin: 0 auto;
    background-color: #dfe0e2;
    padding-top: 20px;
    padding-bottom: 20px;
    	color: #ff0066;
	text-align: center;
}