@import url('https://fonts.googleapis.com/css?family=Ubuntu');

    html{
        font-family: 'Ubuntu', sans-serif;
    }      
    

body {
    margin: 0;
    white-space: nowrap;
}



/* Menu en haut */
#logo, #date, #titre, #modifier {
    border-bottom: 1px solid #ff0066;
    white-space: nowrap;
    position:relative;
}

#logo {
	z-index: -1;
    width: 20%;
    height: 70px;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    white-space: nowrap;
    
}

.logo{
    margin-top: 10px;
    width: 91%;
    height: auto;
    border-left:1px solid #ff0066;
    white-space: nowrap;
    position:relative;

}

#date {
	z-index: -1;
    width: 20%;
    height: 70px;
    text-align: center;
    position: absolute;
    top: 0;
    left: 20%;
    background-color: white;
    white-space: nowrap;
}

#titre {
	
    width: 514px;;
    height: 70px;
    text-align: center;
    position: absolute;	
    top: 0;
    left: 40%;
    background-color: white;
    white-space: nowrap;
}

.modifier, .deconnexion{
    border: 1px solid white;
    padding: 9px;
    color: white;
    white-space: nowrap;
    text-decoration: none;

}

.login{
    display: flex;
    justify-content: space-around;
    margin-top: 16px;
    white-space: nowrap;
}

#n_p {
    z-index: 1;
	text-align: center;
    width: 259px;
    height: 71px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #ff0066;
    color: white;   
    white-space: nowrap;
}

/* Fin menu en haut */

/* Menu latéral droit */

#menu_lat_droit {
	
    width: 20%;
    height: 802px;
    text-align: center;
    position: absolute;
    right: 0;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 12% 12% 12% 12% 12% 12%;
    border-left: 1px solid #ff0066;
    background-color: white;
    white-space: nowrap;

    
}

/* icone météo*/
#rainbow, #soleil, #vent, #pluie, #brouillard{
    width: 100%;
    text-align: center;
}

/* bordure du bas de la div*/
#orage{
    border-bottom: 1px #ff0066 solid;
    white-space: nowrap;
    margin-bottom: -225px;
}

/* Fin menu latéral droit */



/* Modifier la largeur et la hauteur du pictogramme */

.soleil {
    width: 60px;
    height: 60px;
    margin-top: 30px;
    white-space: nowrap;
}

/*Fin des modifications */

/* Carte humeur */

.carte_humeur{
    margin-top: 71px;
    width: 1030px;
    height: 594px;
    white-space: nowrap;
    
}
/* Fin de la carte humeur*/

/* Emplacement de l'historique */
.historique{
    
    width: 1030px;
    white-space: nowrap;
}

#hist{
    width: 1027px;   
    border-top: 1px solid #ff0066;
    border-bottom: 1px solid #ff0066;
    white-space: nowrap;

}

.jour_3, .jour_2, .jour_1{
    width: 300px;
    height: 200px;
    color:#ff0066; 
    white-space: nowrap;
}

/* partie formateur _ Partie graph */

#statistiques{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    white-space: nowrap;
}

/* boîte d'alerte */

#boiteAlerte{
    width: 100%;
    font-weight: bolder;
    background-color: red;
    color: white;
    text-align:center;
    visibility: visible;
    position: absolute;
}

#lol{

    margin:10px; 
}

/* image */
.graphique{
    width: 1030px;
    white-space: nowrap;
}

/* Contenu du form deroulant 1 */
#m_deroulant1{
    width: 150px;
    height: 80px;
    margin-top: 60px;
    font:40px;
    white-space: nowrap;
    margin-left: 34px;
}

/* Contenue du form déroulant 2 */
#m_deroulant2{
    width: 150px;
    height: 50px;
    white-space: nowrap;
        margin-left: 34px;
}

/* "De" , "A" */
.periode{
    
    width: 250px;
    height: 400px;
    background-color: #ff0066;
    white-space: nowrap;
    position: relative;
    left: 80%;
}

/* historique des cartes d'humeur sur 3 jours */
.humeur1, .humeur2, .humeur3{
    width: 250px;
    height: 150px;
    white-space: nowrap;
}

/* bouton valider dans la partie période*/
#bouton{
    white-space: nowrap;
    text-align: center;
    margin-left: 100px;
}

/* Bouton ajouter un mail */
.ajout{
    position: absolute;
    margin-left: 67%;
    margin-top: -5%;
    border: 1px solid black;
    padding: 3px;
    color:#ff0066;
    white-space: nowrap;
}

.de, .a, .un, .deux{
    margin-left: 40px;
}

.carte{
    margin-left: 17%;
}