
@import url('https://fonts.googleapis.com/css?family=Ubuntu');

html 
{
font-family: 'Ubuntu', sans-serif;
text-align: center;
background: white;
color: #ff0066;
height: 100%;
}

body
{
	height: 100%;
}

head{
	height: 0%;
}
/* taille des champs */

input 
{
display: inline-block;
width: 250px;
}

#center
{
    margin-left: auto;
    margin-right: auto;
}

#bouton
{
	border: 1px solid white;
    padding: 5px;
    color: white;
    white-space: nowrap;
    background-color: #ff0066;
    width: 70px;
	margin-top: 15px;
}

/* A rendre plus propre quand on aura le temps (faire disparaitre les bandes blanches)*/
table{
	width: 100%;
	height: 100%
}

#formulaire {
	margin: 0 auto;
	display: inline-block;
	justify-content: center;
    width: 410px;
    background-color: white;
    background-color: #dfe0e2;
	padding-top: 20px;
	padding-bottom: 30px;

}