@import url('https://fonts.googleapis.com/css?family=Ubuntu');

html {
    height: 100%;
    margin: 0;
    background-color: blue;
    font-family: 'Ubuntu', sans-serif;
}

h1,
p {
    color: #ff0066;
    padding-bottom: 10px;
    text-align: center;
}

#formulaire {
    margin: 0 auto;
    background-color: #dfe0e2;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 500px;
    text-align: center;
}

input {
    width: 180px;
}

#connexion {
    border: 1px solid white;
    padding: 5px;
    color: white;
    white-space: nowrap;
    background-color: #ff0066;
    width: 90px;
    margin-top: 15px;
}

a {
    color: #ff0066;
    text-align: center;
    font-size: 16px;
}

#citation {
    white-space: normal;
    word-wrap: break-word;
    width: 500px;
    margin: 0 auto;
    text-align: justify;
    margin-top: -60px;
    margin-left: 400px;
}