@import url('https://fonts.googleapis.com/css?family=Ubuntu');

html {
    font-family: 'Ubuntu', sans-serif;
}

body {
    margin: 0;
}

#humeur {
    z-index: 1;
    width: 100%;
    height: 653px;
}

#formulaire {
    z-index: 1;
    width: 600px;
    height: 400px;
    position: absolute;
    top: 100px;
    left: 300px;
    font: 'Ubuntu', sans-serif;
    border: 2px solid black;
    background-color: white;
}

#texte_humeur {
    text-align: center;
    font-size: 24px;
    color: #ff0066;
}

#premiere_icone {
    margin-left: 23px;
}

.icones {
    width: 70px;
    height: 70px;
    margin-top: 10px;
    margin: 12px;
    cursor:pointer;
}

#commentaire {
    width: 550px;
    height: 120px;
    position: absolute;
    top: 50%;
    left: 20px;
    border: 2px solid #ff0066;
    resize: none;
    /* Interdire les retour a la ligne */
}

#valider {
    width: 100px;
    position: absolute;
    top: 350px;
    left: 43%;
    border: 1px solid white;
    padding: 5px;
    color: white;
    white-space: nowrap;
    background-color: #ff0066;
}

#pos_bouton {
    text-align: center;
    margin-top: 20px;
}

.histo_jour
{
    border-bottom: 1px solid;
    -webkit-border-image: linear-gradient(to right, white 10%, #ff0066 10%, #ff0066 90%, white 90%);
    border-image-slice: 1;
}

#menu_lat_droit 

{
    z-index: -1;
    width: 20%;
    height: 89%;
    text-align: center;
    position: absolute;
    top: 70px;
    right: 0;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10% 10% 10% 10% 30% 30%;
    border-left: 2px solid #ff0066;
}