@import url('https://fonts.googleapis.com/css?family=Ubuntu');

html {
    font-family: 'Ubuntu', sans-serif;
}

body {
    margin: 0;
}



.style-chiffre{
  float:right;
  margin-right: -41%;
display: flex;
justify-content: right;
}

#review {
    width: 100%;
    height: 125px;
    position: absolute;
    top: 651px;
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    grid-template-rows: 100%;
}

.jour {
    text-align: right;
    padding-top: 105px;
    border: 1px solid #ff0066;
}

#menu_lat_droit_stat {
    z-index: -1;
    width: 20%;
    height: 99%;
    position: absolute;
    top: 850px;
    right: 0;
    border-top: 2px solid #ff0066;
    border-left: 2px solid #ff0066;
  }



#menu_lat_droit{
  /*text-align: center;*/
  float: right;
  margin-top: 4%;
  display: flex;
  flex-direction: column;
  margin-right: 7%;
}

.ico_barre_laterale {
  width: 58%;
  padding-bottom: 10%;
}

#affichage_stat {
    position: absolute;
    top: 850px;
    width: 80%;
    height: 99%;
    border-top: 2px solid #ff0066;
}
