@import url('https://fonts.googleapis.com/css?family=Ubuntu');

html {
    font-family: 'Ubuntu', sans-serif;
}

h1 {
    text-align: center;
    color: #ff0066;
}

.boutton {
    border: 1px solid white;
    padding: 5px;
    color: white;
    white-space: nowrap;
    background-color: #ff0066;
}

#width-input {
    width: 170px;
}

select {
    font-size: 15px;
}

.box {
    display: inline-block;
    justify-content: center;
    width: 400px;
    border: 1em;
    background-color: white;
    margin: 0 auto;
    background-color: #dfe0e2;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #ff0066;
    text-align: center;
}

h1,
form {
    margin-bottom: 58px;
    color: #ff0066;
    padding-bottom: 10px;
    text-align: center;
}

#tout {
    margin-bottom: 12px;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: white;
    font-family: 'Ubuntu', sans-serif;
    color: #ff0066;
    text-align: center;
}

.valider {
    text-decoration: none;
}