@import url('https://fonts.googleapis.com/css?family=Ubuntu');
html
{
    font-family: 'Ubuntu', sans-serif;
}

body 
{
    margin: 0;
}

/* Formulaire humeur */

    /* Fond transparent pour eviter de cliquer sur la page */
#humeur
{
	z-index: 10;
	width: 100%;
	height: 653px;
}
    /* Fin fond transparent pour eviter de cliquer sur la page */

#formulaire
{
	width: 600px;
	height: 400px;
	position: absolute;
	top: 100px;
	left: 300px;
    font: 'Ubuntu', sans-serif;
    border: 2px solid black;
    background-color: #FFFFFFFF;
}

#texte_humeur
{
    text-align: center;
    font-size: 24px;
    color: #ff0066;
}

.icones
{
    width: 90px;
    height: 90px;
    margin-top: 10px;
}

#premiere_icone
{
    margin-left: 18px;
}

#commentaire
{
    width: 375px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 95px;
    border: 2px solid #ff0066;
}

#valider
{
	width: 100px;
	position: absolute;
	top: 350px;
	left: 43%;
    color: white;
    background-color: #ff0066;
}

#pos_bouton
{
    text-align: center;
    margin-top: 20px;
}

/* Fin formulaire humeur */

/* Menu en haut, il faudra virer les div inutiles quand on aura le temps */

#logo 
{
	z-index: -1;
    width: 20%;
    height: 70px;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    border-bottom: 2px solid #ff0066;
}

.logo{
    z-index: -1;
    margin-top: 10px;
    width: 91%;
    height: auto;
    border-left: 1px solid;
}

#divinutile 
{
	z-index: -1;
    width: 20%;
    height: 70px;
    text-align: center;
    position: absolute;
    top: 0;
    left: 20%;
    border-bottom: 2px solid #ff0066
}

#divinutile2 
{
	z-index: -1;
    width: 30%;
    height: 70px;
    text-align: right;
    position: absolute;	
    top: 0;
    left: 40%;
    border-bottom: 2px solid #ff0066
}

#divinutile1 
{
	z-index: -1;
    width: 10%;
    height: 35px;
    text-align: center;
    position: absolute;
    top: 0;
    right: 20%;
}

#bouton_deconnexion 
{
    z-index: -1;
    color: white;
    background-color: #ff0066;
    text-align: center;
}

#date 
{
	z-index: -1;
    width: 15%;
    height: 35px;
    text-align: center;
    position: absolute;
    top: 35px;
    right: 20%;
    border-bottom: 2px solid #ff0066
}

#bouton_modifier
{
    z-index: -1;
    color: white;
    background-color: #ff0066;
}
#profil 
{
	z-index: -1;
    width: 5%;
    height: 70px;
    position: absolute;
    top: 0;
    right: 15%;
    border-bottom: 2px solid #ff0066
}

/* Si jamais on garde la fonctionnalité profil remettre le width a 15% */
#n_p 
{
	z-index: -1;
    width: 20%;
    height: 70px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #ff0066;
    color: white;
}

/* Fin menu en haut */

/* Menu latéral droit */

#menu_lat_droit 
{
	z-index: -1;
    width: 20%;
    height: 89%;
    text-align: center;
    position: absolute;
    top: 70px;
    right: 0;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10% 10% 10% 10% 30% 30%;
    border-left: 2px solid #ff0066;
}

#j_quatre
{
    border-bottom: 1px solid ;

-webkit-border-image: linear-gradient(to right, white 10%, #ff0066 10%,#ff0066 90%, white 90%);

border-image-slice: 1; }


#j_trois
{
    border-bottom: 1px solid ;

-webkit-border-image: linear-gradient(to right, white 10%, #ff0066 10%,#ff0066 90%, white 90%);

border-image-slice: 1; }

#j_deux
{
   border-bottom: 1px solid ;

-webkit-border-image: linear-gradient(to right, white 10%, #ff0066 10%,#ff0066 90%, white 90%);

border-image-slice: 1; }

#j_un
{
    border-bottom: 1px solid ;

-webkit-border-image: linear-gradient(to right, white 10%, #ff0066 10%,#ff0066 90%, white 90%);

border-image-slice: 1; }

#total
{
  border: 1px solid ;

-webkit-border-image: linear-gradient(to right, white 10%, #ff0066 10%,#ff0066 90%, white 90%);

border-image-slice: 1; }

#carte {
    position: absolute;
    top: 80px;
    left: -100px;
    text-align: center;
    z-index: -1;
/*    background-image: url("map.jpg");
    background-repeat: no-repeat;*/
}

.ico {
    width: 40px;
}


/*Carte et position des pastille - Julien et Lukas*/

#img_carte
{
    margin-left: 300px;
}
.wrapper {
    position: absolute;
    top: 80px;
    left: 400px;
    display: grid;
    grid-template-columns: 100px 100px 100px 100px 100px 100px;
    /* grid-gap: 1px; */
    grid-auto-rows: 80px;
    grid-template-areas: "a b c d e f" "g h i j k l" "m n o p q r" "s t u v w x" "aa ab ac ad ae af" "ag ah ai aj ak al";
}

.item1 {
    grid-area: a;
    padding-right: 25px;
    width: 50px;
}

.item2 {
    grid-area: c;
    padding-top: 10px;
    width: 50px;
}

.item3 {
    grid-area: d;
    padding-top: 10px;
    width: 50px;
}

.item4 {
    grid-area: g;
    padding-right: 40px;
    width: 50px;
}


.item5 {
    grid-area: i;
    padding-top: 10px;
    width: 50px;
}

.item6 {
    grid-area: j;
    padding-left: 25px;
    width: 50px;
}

.item7 {
    grid-area: k;
    padding-left: 35px;
    width: 50px;
}

.item8 {
    grid-area: n;
    padding-bottom: 20px;
    width: 50px;
}


.item9 {
    grid-area: r;
    padding-right: 25px;
    width: 50px;
}

.item10 {
    grid-area: s;
    padding-left: 25px;
    width: 50px;
}

.item11 {
    grid-area: u;
    padding-left: 30px;
    width: 50px;
}


.item12 {
    grid-area: v;
    padding-left: 25px;
    width: 50px;
}

.item13 {
    grid-area: w;
    padding-left: 25px;
    width: 50px;
}

.item14 {
    grid-area: ac;
    padding-left: 25px;
    width: 50px;
}

.item15 {
    grid-area: h;
    padding-left: 35px;
    width: 50px;
}

.wrapper img{
    width: 50px;
}

.partie_form{
    margin-bottom: -3000px;

}

.partie_formateur{
    background-color: black; 
    position: absolute;
   /* padding-left:100%;
    padding-right:100%;
    background-color: black;*/
    /*margin-top: 46%;*/
}
#menu_lat_droit_bas{ 
background-color: red; 

   
}

.partie{

}
/*Carte et position des pastille*/