/*J'importe ma police pour pouvoir l'utiliser*/
@import url('https://fonts.googleapis.com/css?family=Ubuntu');


/*La partie qui suit sert a faire en sorte 
que mon container principal prenne toute la
place affichée, je déclare le html afin
que le div du container ait un parent
afin qu'il hérite de sa hauteur */
html {
	height: 100%;

	margin: 0;
	background-color: white;
	font-family: 'Ubuntu' , sans-serif;
}
/*Je centre le texte au dessus du formulaire
en utilisant un div car Denis m'a appris
une technique de filou*/
#titre
{
	text-align: center;
}
/*Je centre le texte du formulaire*/
h1,p
{
	color: #ff0066;
	padding-bottom: 10px;
	text-align: center;
}
/*Ici je stylise le formulaire et 
le centre*/
#formulaire 
{
	margin: 0 auto;
	background-color: #dfe0e2;
	padding-top: 20px;
	padding-bottom: 20px;
	width: 500px;
	text-align: center;
}

/*Ici je stylise le bouton "valider"*/

#bouton 
{
	border: 1px solid white;
    padding: 5px;
    color: white;
    white-space: nowrap;
    background-color: #ff0066;
    width: 70px;
	margin-top: 15px;
}
