@import url('https://fonts.googleapis.com/css?family=Ubuntu');

html {
    font-family: 'Ubuntu', sans-serif;
}

body {
    margin: 0;
}

#humeur {
    z-index: 10;
    width: 100%;
    height: 653px;
}

#formulaire {
    z-index: 10;
    width: 600px;
    height: 400px;
    position: absolute;
    top: 100px;
    left: 300px;
    font: 'Ubuntu', sans-serif;
    border: 2px solid black;
    background-color: white;
}

#texte_humeur {
    text-align: center;
    font-size: 24px;
    color: #ff0066;
}

#premiere_icone {
    margin-left: 23px;
}

.icones {
    width: 70px;
    height: 70px;
    margin-top: 10px;
    margin: 12px;
}

#commentaire {
    width: 550px;
    height: 120px;
    position: absolute;
    top: 50%;
    left: 20px;
    border: 2px solid #ff0066;
    resize: none;
    overflow: hidden;
}

#valider {
    width: 100px;
    position: absolute;
    top: 350px;
    left: 43%;
    border: 1px solid white;
    padding: 5px;
    color: white;
    white-space: nowrap;
    background-color: #ff0066;
}

#pos_bouton {
    text-align: center;
    margin-top: 20px;
}

#j_quatre {
    border-bottom: 1px solid;
    -webkit-border-image: linear-gradient(to right, white 10%, #ff0066 10%, #ff0066 90%, white 90%);
    border-image-slice: 1;
}

#j_trois {
    border-bottom: 1px solid;
    -webkit-border-image: linear-gradient(to right, white 10%, #ff0066 10%, #ff0066 90%, white 90%);
    border-image-slice: 1;
}

#j_deux {
    border-bottom: 1px solid;
    -webkit-border-image: linear-gradient(to right, white 10%, #ff0066 10%, #ff0066 90%, white 90%);
    border-image-slice: 1;
}

#j_un {
    border-bottom: 1px solid;
    -webkit-border-image: linear-gradient(to right, white 10%, #ff0066 10%, #ff0066 90%, white 90%);
    border-image-slice: 1;
}

#total_ico_jour {
    border-bottom: 1px solid;
    -webkit-border-image: linear-gradient(to right, white 10%, #ff0066 10%, #ff0066 90%, white 90%);
    border-image-slice: 1;
}