@import url('https://fonts.googleapis.com/css?family=Ubuntu');

html {
	height: 100%;
	margin: 0;
	background-color: white;
	font-family: 'Ubuntu' , sans-serif;
}

#titre {
	text-align: center;
}

h1,p {
	color: #ff0066;
	padding-bottom: 10px;
	text-align: center;
}

#formulaire {
	margin: 0 auto;
	background-color: #dfe0e2;
	padding-top: 20px;
	padding-bottom: 20px;
	width: 500px;
	text-align: center;
}

#bouton {
	cursor : pointer;
	border: 1px solid white;
    padding: 5px;
    color: white;
    white-space: nowrap;
    background-color: #ff0066;
    width: 70px;
	margin-top: 15px;
}