#logo {
    z-index: -1;
    width: 20%;
    height: 70px;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    border-bottom: 2px solid #ff0066;
}

.logo {
    z-index: -1;
    margin-top: 10px;
    width: 91%;
    height: auto;
    border-left: 1px solid;
}

#diventre {
    z-index: -1;
    width: 50%;
    height: 70px;
    text-align: center;
    position: absolute;
    top: 0;
    left: 20%;
    border-bottom: 2px solid #ff0066
}

#date {
    z-index: -1;
    width: 10%;
    height: 35px;
    text-align: center;
    position: absolute;
    top: 35px;
    right: 20%;
    border-bottom: 2px solid #ff0066
}

#n_p {
    z-index: -1;
    width: 20%;
    height: 60px;
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 10px;
    background-color: #ff0066;
    color: white;
}

#php_np {
    margin-left: 10px;
}

#bouton_modifier {
    width: 100px;
    border: 1px solid white;
    padding: 5px;
    color: white;
    white-space: nowrap;
    background-color: #ff0066;
}

#bouton_deconnexion {
    width: 100px;
    border: 1px solid white;
    padding: 5px;
    color: white;
    white-space: nowrap;
    background-color: #ff0066;
}

#pos_bouton {
    text-align: center;
    margin-top: 10px;
}

#profil {
    z-index: -1;
    width: 5%;
    height: 70px;
    position: absolute;
    top: 0;
    right: 15%;
    border-bottom: 2px solid #ff0066
}

#carte {
    position: absolute;
    top: 80px;
    left: -100px;
}

.ico {
    width: 40px;
}

#img_carte {
    margin-left: 300px;
}

.wrapper {
    position: absolute;
    top: 80px;
    left: 400px;
    display: grid;
    grid-template-columns: 100px 100px 100px 100px 100px 100px;
    grid-auto-rows: 80px;
    grid-template-areas: "a b c d e f" "g h i j k l" "m n o p q r" "s t u v w x" "aa ab ac ad ae af" "ag ah ai aj ak al";
}

.wrapper img {
    width: 50px;
}

.item1 {
    grid-area: a;
    padding-right: 25px;
    width: 50px;
}

.item2 {
    grid-area: c;
    padding-top: 10px;
    width: 50px;
}

.item3 {
    grid-area: d;
    padding-top: 10px;
    width: 50px;
}

.item4 {
    grid-area: g;
    padding-right: 40px;
    width: 50px;
}

.item5 {
    grid-area: i;
    padding-top: 10px;
    width: 50px;
}

.item6 {
    grid-area: j;
    padding-left: 25px;
    width: 50px;
}

.item7 {
    grid-area: k;
    padding-left: 35px;
    width: 50px;
}

.item8 {
    grid-area: n;
    padding-bottom: 20px;
    width: 50px;
}

.item9 {
    grid-area: r;
    padding-right: 25px;
    width: 50px;
}

.item10 {
    grid-area: s;
    padding-left: 25px;
    width: 50px;
}

.item11 {
    grid-area: u;
    padding-left: 30px;
    width: 50px;
}

.item12 {
    grid-area: v;
    padding-left: 25px;
    width: 50px;
}

.item13 {
    grid-area: w;
    padding-left: 25px;
    width: 50px;
}

.item14 {
    grid-area: ac;
    padding-left: 25px;
    width: 50px;
}

.item15 {
    grid-area: h;
    padding-left: 35px;
    width: 50px;
}