/*police ubuntu*/
@import url('https://fonts.googleapis.com/css?family=Ubuntu');
html
{
	text-align: center;
}

body 
{
	font-family: 'Ubuntu', sans-serif;
	color: #ff0066;
	margin: 0;
	background-color: white;
}

/*style du titre*/
h1 
{
	text-align: center;
}

/*Style du formulaire */

#formulaire {
	margin: 0 auto;
	background-color: #dfe0e2;
	width: 400px;
	padding-top: 20px;
	padding-bottom: 20px;
}

input 
{
	width: 250px;
	display: inline-block;
}

#annuler 
{
	margin-left: 30px;
	width: 100px;
}

#valider 
{
	margin-left: 10px;
	width: 100px;
}

/*style bouton*/
.bouton {
	border: 1px solid white;
    padding: 5px;
    color: white;
    white-space: nowrap;
    background-color: #ff0066;
}
